@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
}

.raleway-font {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
}

/* google fonts end  */

:root {
  --primary-color: #fea301;
  --secondary-color: #01acfd;
  --third-color: #95b226;
  --text-color: #808080;
}

/* all colors end */

/* main design start  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f7f7f7;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.nav {
  display: flex;
  padding: 20px 0;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 11px;
  cursor: pointer;
}

.logo_text {
  font-size: 32px;
  line-height: 30px;
  font-weight: 700;
}

.menu ul {
  display: flex;
  align-items: center;
  gap: 32px;
}

.menu ul li {
  list-style: none;
}

.menu ul li a {
  text-decoration: none;
  font-size: 20px;
  line-height: 30px;
  color: var(--primary-color);
  font-weight: 700;
  transition: all;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
}

.menu ul li a:hover {
  color: var(--text-color);
}

.menu ul li .menu_1 {
  color: var(--secondary-color);
  font-weight: 500;
}
.menu ul li .menu_2 {
  color: #05d4df;
  font-weight: 500;
}
.menu ul li .menu_3 {
  color: #5d58ef;
  font-weight: 500;
}

.btn {
  background-color: var(--primary-color);
  padding: 10px;
  border: 1px solid var(--primary-color);
  border-radius: 12px;
  color: white;
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  cursor: pointer;
  width: 197px;
  height: 50px;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  background-color: white;
}

.nav_icon {
  display: none;
}

/* banner section start  */

.banner_main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner_content .banner_heading {
  font-size: 56px;
  line-height: 61px;
  font-weight: 700;
  color: black;
  width: 650px;
}

.banner_heading .banner_heading_2,
.banner_heading_3 {
  color: var(--secondary-color);
}

.banner_content .banner_pera {
  font-size: 20px;
  line-height: auto;
  font-weight: 400;
  margin: 24px 0;
  width: 650px;
}

.banner_btn {
  background-color: black;
  padding: 10px;
  border: 1px solid black;
  border-radius: 12px;
  color: white;
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  cursor: pointer;
  width: 197px;
  height: 50px;
  transition: all 0.3s ease-in-out;
}

.banner_btn:hover {
  color: var(--primary-color);
  border: 1px solid var(--secondary-color);
  background-color: white;
}

.banner_img img {
  width: 400px;
  height: 515px;
}

/* card section start  */

.card_main {
  background-image: url(assets/bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: repeat-y;
  width: 100%;
}

.card_content {
  margin-top: 60px;
}

.card_title {
  font-size: 46px;
  font-weight: 700;
  line-height: 57.5px;
  text-align: center;
}

.card_items {
  margin-top: 80px;
  display: flex;
  column-gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.card_1 {
  width: 355px;
  border: 1px solid #def5ff;
  border-radius: 18.86px;
  display: flex;
  justify-content: center;
}
.card_2 {
  width: 355px;
  border: 1px solid #fff4dc;
  border-radius: 18.86px;
  display: flex;
  justify-content: center;
}
.card_3 {
  width: 355px;
  border: 1px solid #f2e8ff;
  border-radius: 18.86px;
  display: flex;
  justify-content: center;
}

.card_1 .card_img_and_text .card_img {
  background: linear-gradient(to bottom, #def5ff, white);
  width: 355px;
  display: flex;
  justify-content: center;
  margin-bottom: 32.7px;
  padding: 52px 115px 0;
  border-top-left-radius: 18.86px;
  border-top-right-radius: 18.86px;
}
.card_2 .card_img_and_text .card_img {
  background: linear-gradient(to bottom, #fff4dc, white);
  width: 355px;
  display: flex;
  justify-content: center;
  margin-bottom: 32.7px;
  padding: 52px 115px 0;
  border-top-left-radius: 18.86px;
  border-top-right-radius: 18.86px;
}
.card_3 .card_img_and_text .card_img {
  background: linear-gradient(to bottom, #f2e8ff, white);
  width: 355px;
  display: flex;
  justify-content: center;
  margin-bottom: 32.7px;
  padding: 52px 115px 0;
  border-top-left-radius: 18.86px;
  border-top-right-radius: 18.86px;
}

.card_subtitle {
  font-size: 24.52px;
  line-height: 30.7px;
  font-weight: 700;
  color: #202020;
  text-align: center;
}

.card_pera {
  font-size: 15.09px;
  line-height: 28.3px;
  font-weight: 500;
  color: var(--text-color);
  text-align: center;
  margin: 33px 0;
}

.card_button {
  display: flex;
  justify-content: center;
  margin-bottom: 53px;
}

.card_button .card_btn {
  border: none;
  font-size: 15.9px;
  line-height: 28.3px;
  color: var(--secondary-color);
  background-color: #f7f7f7;
  cursor: pointer;
}
.card_button .card_btn_2 {
  border: none;
  font-size: 15.9px;
  line-height: 28.3px;
  color: var(--primary-color);
  background-color: #f7f7f7;
  cursor: pointer;
}
.card_button .card_btn_3 {
  border: none;
  font-size: 15.9px;
  line-height: 28.3px;
  color: #8700ff;
  background-color: #f7f7f7;
  cursor: pointer;
}

.next_button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 80px 0;
  column-gap: 10px;
}

.next_button .next_btn_main {
  background-color: var(--primary-color);
  height: 60px;
  width: 60px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.next_button .next_btn_main .next_btn {
  background-color: var(--primary-color);
  border: none;
  color: white;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.next_btn_main:hover {
  background-color: var(--secondary-color);
}

.next_btn_main:hover .next_btn {
  background-color: var(--secondary-color);
}

/* stories section start  */

.stories_main {
  background-image: linear-gradient(to top, #fea1013f, #f7f7f7),
    url(assets/bg.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  padding-bottom: 60px;
}

.stories_cards {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 19px;
}

.card_first img {
  width: 440px;
  height: 300px;
}

.card_style {
  grid-row: span 2 / span 2;
}

.storie_sub_pera {
  font-size: 15.34px;
  line-height: 28.8px;
  font-weight: 500;
  color: #666666;
  margin-top: 47px;
  margin-bottom: 34px;
}

.stories_cards .card_style_1 {
  display: flex;
  justify-content: center;
}

.storie_card {
  background-color: white;
  border: none;
  border-radius: 16px;
  overflow: hidden;
}

.storie_text {
  padding-left: 37px;
}

.storie_date {
  display: flex;
  margin-top: -30px;
}

.storie_date .date {
  background-color: #3cd8e8;
  border-radius: 43.93px;
  padding: 9px 19px;
  font-size: 15.34px;
  line-height: 28.8px;
  font-weight: 500;
  color: white;
}
.storie_date .date_2 {
  background-color: #95b226;
  border-radius: 43.93px;
  padding: 9px 19px;
  font-size: 15.34px;
  line-height: 28.8px;
  font-weight: 500;
  color: white;
}

.storie_date .date_3 {
  background-color: #5d58f0;
  border-radius: 43.93px;
  padding: 9px 19px;
  font-size: 15.34px;
  line-height: 28.8px;
  font-weight: 500;
  color: white;
}

.card_small {
  display: none;
}

.storie_text .storie_pera {
  font-size: 15.34px;
  line-height: 28.8px;
  font-weight: 700;
  margin: 13px 0;
}

.storie_button {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.storie_button .storie_btn {
  background-color: black;
  padding: 10px;
  border: 1px solid black;
  border-radius: 12px;
  color: white;
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  cursor: pointer;
  width: 197px;
  height: 50px;
  transition: all 0.3s ease-in-out;
}

.storie_btn:hover {
  color: var(--primary-color);
  border: 1px solid var(--secondary-color);
  background-color: white;
}

/* footer section start  */

footer {
  background-color: var(--secondary-color);
  width: 100%;
  padding: 147px 0;
}

.footer_main {
  display: flex;
  justify-content: space-between;
}

.footer_logo {
  display: flex;
  align-items: center;
  gap: 11px;
  cursor: pointer;
}

.footer_logo_text {
  font-size: 32px;
  line-height: 30px;
  font-weight: 700;
  color: white;
}

.footer_pera {
  font-size: 20px;
  line-height: auto;
  font-weight: 400;
  color: white;
  margin-top: 35.35px;
  width: 399px;
}

.footer_nav_title {
  font-size: 24px;
  font-weight: 700;
  line-height: auto;
  color: white;
  margin-bottom: 32px;
}
.footer_nav_title_2 {
  font-size: 24px;
  font-weight: 700;
  line-height: auto;
  color: white;
  margin-bottom: 32px;
}

.footer_nav ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer_nav ul li {
  list-style: none;
}

.footer_nav ul li a {
  font-size: 20px;
  font-weight: 400;
  line-height: auto;
  color: white;
  text-decoration: none;
}

.all_social {
  display: flex;
  align-items: center;
  gap: 8.5px;
}

/* footer section end */

/*======================= responsive for mobile start ========= */

@media screen and (max-width: 576px) {
  .container {
    width: 100%;
    margin: 0 auto;
  }

  /*============ header section start =============*/

  .header_main {
    border: 1px solid var(--primary-color);
    padding: 0 1rem;
  }

  .menu,
  .nav_btn {
    display: none;
  }

  .nav_icon {
    display: block;
    cursor: pointer;
  }

  .nav .logo .logo_text {
    display: none;
  }

  /*============ banner section start ================*/

  .banner_main {
    margin: 20px 0;
    padding: 0 1rem;
    flex-direction: column-reverse;
    row-gap: 20px;
    justify-content: center;
  }

  .banner_main .banner_main_content {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .banner_content .banner_heading {
    font-size: 32px;
    line-height: 42px;
    font-weight: 700;
    text-align: center;
    width: 357px;
  }

  .banner_heading .banner_heading_2 {
    color: var(--primary-color);
  }

  .banner_content .banner_pera {
    font-size: 14px;
    margin: 18px 0;
    text-align: center;
    width: 357px;
  }

  .banner_btn_main {
    display: flex;
    justify-content: center;
  }

  .banner_img {
    display: flex;
    justify-content: center;
  }

  .banner_img img {
    width: 336.58px;
    height: 413px;
  }

  /* ========= card section start ============= */
  .card_content {
    padding: 0 1rem;
  }

  .card_title {
    font-size: 26px;
    line-height: auto;
    font-weight: 700;
  }

  .card_items {
    display: flex;
    flex-direction: column;
    row-gap: 28px;
  }

  .card_content .next_button {
    display: none;
    margin-top: 0;
  }

  /* ======== stories section start ============ */

  .stories_main {
    padding-bottom: 60px;
  }

  .stories_content {
    padding: 0 1rem;
    margin-top: 40px;
  }

  .stories_cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 14px;
    margin: 40px 0;
  }

  .card_style {
    order: 999;
  }

  .card_first {
    display: none;
  }

  .card_small {
    display: block;
  }

  .storie_card img {
    width: 163px;
    height: 105px;
  }

  .storie_text {
    padding-left: 22px;
  }

  .storie_date {
    display: flex;
    margin-top: -18px;
  }

  .card_style {
    grid-row: 0;
  }

  .card_first {
    display: none;
  }

  .storie_date .date_2 {
    background-color: #95b226;
    border-radius: 43.93px;
    padding: 6px 11px;
    font-size: 9px;
    line-height: 17px;
    font-weight: 500;
    color: white;
  }

  .storie_date .date_3 {
    background-color: #5d58f0;
    border-radius: 43.93px;
    padding: 6px 11px;
    font-size: 9px;
    line-height: 17px;
    font-weight: 500;
    color: white;
  }

  .storie_text .storie_pera {
    font-size: 9px;
    line-height: 17px;
    font-weight: 700;
    margin: 11px 0;
  }

  /* footer section start  */

  footer {
    padding: 60px 0;
  }

  .footer_main {
    padding: 20px 1rem;
    display: flex;
    flex-direction: column;
  }

  .footer_logo_text {
    font-size: 35px;
    line-height: 33.5px;
  }

  .footer_pera {
    font-size: 16px;
    line-height: auto;
    font-weight: 300;
  }

  .footer_nav_title {
    font-size: 20px;
    font-weight: 600;
  }

  .footer_nav ul li a {
    font-size: 16px;
  }

  .footer_nav,
  .footer_social {
    margin-top: 32px;
  }
}

/*======================= responsive for medium device ========= */

@media screen and (min-width: 577px) and (max-width: 768px) {
  /* header section start  */
  .header_main {
    border: 1px solid var(--primary-color);
    padding: 0 1rem;
  }
  .menu,
  .nav_btn {
    display: none;
  }

  .nav_icon {
    display: block;
    cursor: pointer;
  }

  .nav .logo .logo_text {
    display: none;
  }

  /* banner section start  */
  .banner_main {
    margin: 20px 0;
    padding: 0 1rem;
    flex-direction: column-reverse;
    row-gap: 20px;
    justify-content: center;
  }

  .banner_main .banner_main_content {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .banner_content .banner_heading {
    font-size: 56px;
    line-height: 61px;
    font-weight: 700;
    color: black;
    width: 650px;
    text-align: center;
  }

  .banner_heading .banner_heading_2 {
    color: var(--primary-color);
  }

  .banner_content .banner_pera {
    font-size: 14px;
    margin: 24px 0;
    text-align: center;
  }

  .banner_btn_main {
    display: flex;
    justify-content: center;
  }

  .banner_img {
    display: flex;
    justify-content: center;
  }

  .banner_img img {
    width: 100%;
    height: 100%;
  }

  /* card section start  */

  .card_items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }

  /* stories section start  */
  .stories_cards {
    grid-template-columns: repeat(3, 1fr);
    gap: 7px;
    margin: 40px 0;
  }

  .card_style {
    order: 999;
  }

  .card_first {
    display: none;
  }

  .card_small {
    display: block;
  }
  .storie_card img {
    width: 163px;
    height: 105px;
  }

  .storie_text {
    padding-left: 22px;
    font-size: 15px;
  }

  .storie_date {
    display: flex;
    margin-top: -18px;
  }

  .card_style {
    grid-row: 0;
  }

  .card_first {
    display: none;
  }

  .storie_date .date_3 {
    background-color: #5d58f0;
    border-radius: 43.93px;
    padding: 6px 11px;
    font-size: 9px;
    line-height: 17px;
    font-weight: 500;
    color: white;
  }

  .storie_date .date_2 {
    background-color: #95b226;
    border-radius: 43.93px;
    padding: 6px 11px;
    font-size: 9px;
    line-height: 17px;
    font-weight: 500;
    color: white;
  }

  .storie_text .storie_pera {
    font-size: 10px;
    line-height: 18.8px;
    font-weight: 700;
    margin: 13px 0;
  }
  /* footer section start  */
  .footer_main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
